@import 'fonts';

body {
  color: #707070;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  background: url("../img/bg_mobile.png") no-repeat top/cover;
}

.bandeNom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #333;
  .nom {
    height: 30px;
  }
}

.accroche {
  display: flex;
  flex-direction: column;
  background-color: #fffd;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  padding: 24px;
  .dev {
    align-self: flex-end;
    width: 50vw;
    max-width: 280px;
    height: calc(50vw / 2.66); //conserver le ratio du svg en fonction de sa largeur
    max-height: 107px;
    margin: 35px 0 16px 0;
  }
  span {
    font-size: 18px;
    line-height: 1.25;
    max-width: 520px;
  }
}

.section-1 {
  padding: 36px 24px;
}

.container {
  width: 100%;
}

.titre-section {
  font-family: "MADE Canvas", serif;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}

.real {
  margin: 36px 0;
  min-height: 45vw;
}

.real_img {
  clip-path: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  shape-outside: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  width: 45%;
  max-width: 230px;
  max-height: 230px;
  float: left;
  margin-right: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.real_titre {
  position: relative;
  z-index: -1;
  padding: 8px 4%;
  line-height: 1;
  clip-path: polygon(58px 0, 100% 0, calc(100% - 8px) 100%, 50px 100%);
  background-color: #cba837;
  color: #fff;
  font-family: "MADE Canvas", serif;
  font-size: 20px;
  text-align: center;
}

.real_desc {
  margin: 16px 0;
}

.real_lien::before {
  content: '> ';
}

.real_lien {
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-stroke: 1px;
  font-family: "MADE Canvas", serif;
  font-size: 16px;
  color: #707070;
  margin-right: 24px;
  transition: 0.2s;
}

.real_lien:hover {
  color: #cba837;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {

  header {
    height: 100vh;
    background-image: url("../img/bg_tablet.png");
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bandeNom {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .accroche {
    position: initial;
    width: 50vw;
    max-width: 600px;
    height: 350px;
    margin-bottom: 50px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    .dev {
      margin-top: 60px;
    }
  }

}

@media screen and (min-width: 1200px) {

  .bandeNom {
    height: 80px;
    .nom {
      height: 40px;
    }
  }

  header {
    background-image: url("../img/bg_desktop.png");
    background-position: center;
  }

}