@import 'fonts';

$gris-fonce: #333333;
$gris: #707070;
$gris-clair: #ebebeb;
$or: #cba837;

* {
  box-sizing: border-box;
}

html, body { height: 100% }

body {
  color: $gris;
  font-family: Raleway, sans-serif;
  font-size: 100%; //16px
}

img {
  width: 100%;
}

header {
  height: 100%;
  background: url("../img/bg_mobile.jpg") no-repeat top/cover;
}

.bandeNom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  background-color: $gris-fonce;
  .nom {
    height: 2em;
  }
}

.accroche {
  display: flex;
  flex-direction: column;
  background-color: #fffd;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  padding: 24px;
  .dev {
    align-self: flex-end;
    width: 50vmin;
    max-width: 280px;
    height: calc(50vmin / 2.66); //conserver le ratio du svg en fonction de sa largeur
    max-height: 107px;
    margin: 35px 0 16px 0;
  }
  span {
    font-size: 1.125em;
    line-height: 1.25;
    max-width: 520px;
  }
}

.container {
  width: 100%;
  padding: 36px 24px;
}

.titre-section {
  font-family: "MADE Canvas", serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke-width: 0.025em;
}

.real {
  margin: 36px 0;
}

.real_img {
  clip-path: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  shape-outside: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  width: 45%;
  float: left;
  margin: 0 20px 20px 0;
}

.real_titre {
  position: relative;
  z-index: -1;
  padding: 8px 4%;
  line-height: 1;
  clip-path: polygon(58px 0, 100% 0, calc(100% - 8px) 100%, 50px 100%);
  background-color: $or;
  color: #fff;
  font-family: "MADE Canvas", serif;
  font-size: 1.25em;
  text-align: center;
  -webkit-text-stroke-width: 0.025em;
}

.real_desc {
  margin: 16px 0;
}

.real_lien::before {
  content: '> ';
}

.real_lien {
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "MADE Canvas", serif;
  color: $gris;
  -webkit-text-stroke-width: 0.025em;
  margin-right: 24px;
  transition: 0.2s;
}

.real_lien:hover {
  color: $or;
  margin-right: 12px;
}

.clearfix {
  clear: both;
}

.section-parcours {
  background-color: $gris-clair;
}

.parcours {
  display: flex;
  flex-direction: column;
  ul {
    display: inline-block;
  }
}

.parc {
  margin: 18px 0;
  padding-left: 24px;
  border-left: 1px solid $gris;
  transition: 0.2s;
}

.parc:hover {
  transform: translateX(15px);
}

.parc_titre {
  font-family: "MADE Canvas", serif;
  font-size: 1.375em;
  font-weight: normal;
  -webkit-text-stroke-width: 0.025em;
  margin-bottom: 0;
}

.parc_date {
  font-family: "MADE Canvas", serif;
  -webkit-text-stroke-width: 0.025em;
  margin-bottom: 0;
}

.parc_lieu {
  font-weight: 200;
  margin-bottom: 0;
}

.parc_desc {
  margin-top: 0.5em;
}

.diplome {
  .parc_deco::before, .parc_deco::after {
    background-color: $or;
  }
  .parc_titre, .parc_desc {
    color: $or;
  }
}

.pro {
  .parc_deco::before, .parc_deco::after {
    background-color: $gris;
  }
  .parc_date {
    color: $or;
  }
}

.formulaire {
  display: flex;
  flex-direction: column;

  .champ {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  label {
    font-family: "MADE Canvas", serif;
    -webkit-text-stroke-width: 0.025em;
    width: fit-content;
    margin: 0;
    padding: 0 0.5em;
    position: relative;
    top: 0.75em;
    left: 0.5em;
    background-color: #fff;
  }

  input, textarea {
    appearance: none;
    border: 1px solid $gris;
    padding: 1em;
  }

  .bouton {
    text-align: center;
    align-self: flex-end;
    font-family: "MADE Canvas", serif;
    font-size: 1.25em;
    -webkit-text-stroke-width: 0.025em;
    color: #fff;
    background-color: $gris-fonce;
    padding: 0.5em;
    margin-top: 1.5em;
    width: 200px;
    transition: 0.2s;
  }

  .bouton:hover {
    background-color: $gris;
  }

}

.section-reseaux {
  color: #fff;
  background-color: $gris-fonce;
  padding: 24px;
  div {
    font-family: "MADE Canvas", serif;
    -webkit-text-stroke-width: 0.025em;
    font-size: 1.5em;
    text-align: center;
    margin: 18px auto;
  }
}

.reseaux {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}

.reseau {
  color: #fff;
  transition: 0.2s;
  svg {
    width: 36px;
    height: 36px;
    fill: currentColor;
  }
}

.reseau:hover {
  color: $or;
}

.section-footer {
  height: 48px;
  color: #fff;
  background-color: $gris;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and(min-width: 576px) {

  .container {
    width: 576px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 768px), screen and (orientation: landscape) {

  header {
    background-image: url("../img/bg_tablet.jpg");
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bandeNom {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .accroche {
    position: initial;
    width: 50vw;
    max-width: 600px;
    height: 350px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    .dev {
      margin-top: 60px;
    }
  }

}

@media screen and (min-width: 768px) {

  .container {
    width: 100%;
  }

  .titre-section {
    text-align: left;
  }

    .realisations {
    display: flex;
    max-height: 700px;
  }

  .realisations-gauche {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .realisations-droite {
    width: 40%;
  }

  .real {
    margin: 0;
    padding: 36px 18px;
  }

  .parc {
    width: 50%;
    border: 0;
  }

  .diplome {
    text-align: right;
    align-self: flex-start;
    padding: 0 24px 0 0;
    border-right: 1px solid $gris;
  }

  .diplome:hover {
    transform: translateX(-15px);
  }

  .pro {
    align-self: flex-end;
    border-left: 1px solid $gris;
  }

  .ligne-champs {
    display: flex;
    .champ {
      width: 50%;
    }
    .champ:first-child {
      padding-right: 1.5em;
    }
  }

  .formulaire .bouton {
    align-self: center;
  }

}

@media screen and (min-width: 992px) {

  .container {
    width: 992px;
    margin: 0 auto;
  }

  .formulaire {
    width: 60%;
  }

  .section-reseaux {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    position: absolute;
    right: 0;
    width: 400px;
    height: 300px;
    margin: -200px 0;
    .biseau {
      content: '';
      width: 25px;
      height: 150px;
      float: left;
      margin-left: 50px;
      shape-outside: polygon(0 0, 100px 0, 50px 100%, 0 100%);
    }
    div {
      padding: 0 0 0 50px;
      text-align: left;
      font-size: 2em;
    }
    .reseaux {
      padding: 0 50px;
    }
  }

  .section-footer {
    margin-top: 100px;
  }

  }

@media screen and (min-width: 1200px) {

  body {
    font-size: 110%;
  }

  header {
    background-image: url("../img/bg_desktop.jpg");
    background-position: center;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
  }

}