@font-face {
  font-family: 'MADE Canvas';
  src: url("../fonts/MADECanvas-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Canvas';
  src: url("../fonts/MADECanvas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADE Canvas';
  src: url("../fonts/MADECanvas-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: #707070;
  font-family: Raleway, sans-serif;
  font-size: 100%;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  background: url("../img/bg_mobile.png") no-repeat top/cover;
}

.bandeNom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 4em;
  background-color: #333333;
}

.bandeNom .nom {
  height: 2em;
}

.accroche {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #fffd;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  padding: 24px;
}

.accroche .dev {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50vw;
  max-width: 280px;
  height: calc(50vw / 2.66);
  max-height: 107px;
  margin: 35px 0 16px 0;
}

.accroche span {
  font-size: 1.125em;
  line-height: 1.25;
  max-width: 520px;
}

.container {
  width: 100%;
  padding: 36px 24px;
}

.titre-section {
  font-family: "MADE Canvas", serif;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

.real {
  margin: 36px 0;
}

.real_img {
  -webkit-clip-path: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
          clip-path: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  shape-outside: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  width: 45%;
  float: left;
  margin: 0 20px 20px 0;
}

.real_titre {
  position: relative;
  z-index: -1;
  padding: 8px 4%;
  line-height: 1;
  -webkit-clip-path: polygon(58px 0, 100% 0, calc(100% - 8px) 100%, 50px 100%);
          clip-path: polygon(58px 0, 100% 0, calc(100% - 8px) 100%, 50px 100%);
  background-color: #cba837;
  color: #fff;
  font-family: "MADE Canvas", serif;
  font-size: 1.25em;
  text-align: center;
}

.real_desc {
  margin: 16px 0;
}

.real_lien::before {
  content: '> ';
}

.real_lien {
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "MADE Canvas", serif;
  font-size: 1em;
  color: #707070;
  margin-right: 24px;
  transition: 0.2s;
}

.real_lien:hover {
  color: #cba837;
  margin-right: 12px;
}

.clearfix {
  clear: both;
}

@media screen and (min-width: 576px) {
  .container {
    width: 576px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 100vh;
    background-image: url("../img/bg_tablet.png");
    background-position: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .bandeNom {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .accroche {
    position: initial;
    width: 50vw;
    max-width: 600px;
    height: 350px;
    margin-bottom: 50px;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  }
  .accroche .dev {
    margin-top: 60px;
  }
  .container {
    width: 100%;
  }
  .realisations {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .real {
    width: 50%;
    margin: 0;
    padding: 36px 18px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 110%;
  }
  header {
    background-image: url("../img/bg_desktop.png");
    background-position: center;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
