@import 'fonts';

body {
  color: #707070;
}

img {
  width: 100%;
}

header {
  height: 100vh;
  background: url("../img/bg_mobile.png") no-repeat top/cover;
}

.bandeNom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #333;
  .nom {
    height: 30px;
  }
}

.accroche {
  display: flex;
  flex-direction: column;
  background-color: #fffd;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  padding: 24px;
  .dev {
    align-self: flex-end;
    width: 50vw;
    max-width: 280px;
    height: calc(50vw / 2.66); //conserver le ratio du svg en fonction de sa largeur
    max-height: 107px;
    margin: 35px 0 16px 0;
  }
  span {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.25;
    max-width: 520px;
  }
}

.section-1 {
  padding: 36px 24px;
}

.container {
  width: 100%;
}

.titre-section {
  font-family: "MADE Canvas", serif;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  margin-bottom: 36px;
}

.image-realisation {
  clip-path: polygon(3.4% 0, 100% 0, 79.5% 100%, 0 100%, 0 16%);
  width: 45%;
  height: 45vw; //intentionnel, pour que l'image soit plus haute que large
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right; //pour que l'image paraisse centrée dans sa div
  }
}

@media screen and (min-width: 768px) {

  header {
    height: 100vh;
    background-image: url("../img/bg_tablet.png");
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bandeNom {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .accroche {
    position: initial;
    width: 50vw;
    max-width: 600px;
    height: 350px;
    margin-bottom: 50px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    .dev {
      margin-top: 60px;
    }
  }

}

@media screen and (min-width: 1200px) {

  .bandeNom {
    height: 80px;
    .nom {
      height: 40px;
    }
  }

  header {
    background-image: url("../img/bg_desktop.png");
    background-position: center;
  }

}